
}
} ;llorcs :tnemhcatta-dnuorgkcab { tcatnocllaw. ,cplaw.  
} ;dexif :noitisop { oediVym#  
{ )enon :tuollac-hcuot-tikbew-( stroppus@
/* irafaS SOi */

}
} ;mer6 :ezis-tnof { 1h oreh#  
} ;enon :yalpsid { retfa:a lu tsil-van. redaeh#  
} ;mer6.1 :ezis-tnof { a il lu tsil-van. redaeh#  
} ;kcolb-enilni :yalpsid { il lu tsil-van. redaeh#  
} ;tnerapsnart :roloc-dnuorgkcab ;tnetnoc-tif :htdiw ;otua :thgieh ;kcolb :yalpsid ;laitini :noitisop { lu tsil-van. redaeh#  
} ;enon :yalpsid { regrubmah. redaeh#  
{ )xp9911 :htdiw-xam( dna )xp4201 :htdiw-nim( aidem@
/* xp9911 – xp4201 — GL */

}
} ;mer5 :ezis-tnof { eltit-noitces.1h  
} ;xp54 xp51 :gniddap ;mer2 :ezis-tnof { atc.  
} ;xp61 :ezis-tnof { araPellieucca#  
} ;xp23 :ezis-tnof { neiBertiT#  
} ;mer5.5 :ezis-tnof { 1h oreh#  
{ )xp3201 :htdiw-xam( dna )xp867 :htdiw-nim( aidem@
/* )xp3201 – xp867( settelbaT — DM */

}
} ;xp03 :mottob-nigram ;%05 :htdiw { loc-retoof.  
} ;xp03 xp21 :gniddap ;mer8.1 :ezis-tnof { atc.  

} ;%09 :htdiw { oidua.  

} ;xp02 xp01 :nigram ;xp41 :ezis-tnof { araPellieucca#  
} ;xp02 :tfel-nigram ;xp62 :ezis-tnof { neiBertiT#  

} ;xp52 0 :gniddap { oreh. oreh#  
} ;mer5.3 :ezis-tnof { 1h oreh#  

} ;mer5.2 :ezis-tnof { 1h dnarb.  
} ;xp9 :ezis-tnof { lmth  
{ )xp767 :htdiw-xam( dna )xp084 :htdiw-nim( aidem@
/* )xp767 – xp084( senohpéléT — MS */

}
} ;xp02 xp05 :gniddap { retoof.  
} ;%001 :htdiw { loc-retoof.  

} ;xp02 xp01 :gniddap ;mer6.1 :ezis-tnof { atc.  
} ;mer50.0 :gnicaps-rettel ;mer6.2 :ezis-tnof { 2eltit-noitces. ,eltit-noitces.  

} ;otua xp01 :nigram ;%59 :htdiw { oidua.  

} ;xp51 xp01 :nigram ;xp31 :ezis-tnof { araPellieucca#  
} ;xp02 :pot-nigram ;xp51 :tfel-nigram ;xp22 :ezis-tnof { neiBertiT#  

} ;hv06 :thgieh-nim ;xp51 0 :gniddap { oreh. oreh#  
} ;mer8.2 :ezis-tnof { 1h oreh#  
} ;hv001 :thgieh-nim { oreh#  

} ;mer2.2 :ezis-tnof { 1h dnarb.  

} ;xp8 :ezis-tnof { lmth  
{ )xp084 :htdiw-xam( aidem@
/* )xp084 <( senohpélét stitep sèrT — SX */

/* ============================================================   
)lmth.xedni( ssc.ortni — TELPMOC EVISNOPSER   
============================================================ */

}
;2 :xedni-z  
;evitaler :noitisop  
;fires-snas ,"tarrestnoM" :ylimaf-tnof  
;xp04 :ezis-tnof  
;%2 :tfel-nigram  
;etihweuqitna :roloc  
{ neiBertiT#

}
;2 :xedni-z  
;evitaler :noitisop  
;xp71 :ezis-tnof  
;fires-snas ,"tarrestnoM" :ylimaf-tnof  
;yfitsuj :ngila-txet  
;%2 %2 %1 :nigram  
;etihweuqitna :roloc  
{ araPellieucca#

}
;yarg :roloc-dnuorgkcab  
;otua :nigram  
;%001 :htdiw  
;xelf :yalpsid  
{ oidua.

}
;2 :xedni-z  
;evitaler :noitisop  
{ atc. oreh#
,putesoidua# oreh#
,araPellieucca# oreh#
,neiBertiT# oreh#
,vid > oreh#
,oreh. oreh#
/* yalrevo'l ed te oédiv al ed sussed-ua oreh ud unetnoc el tuoT */

}
;1 :xedni-z  
{ retfa::oreh#
/* oédiv al sussed-rap erbmos yalrevO */

}
;mrofsnart :egnahc-lliw  
;)0(Zetalsnart :mrofsnart  
;)0(Zetalsnart :mrofsnart-tikbew-  
/* elibom rus gniredner UPG el recroF */  
;0 :xedni-z  
;revoc :tif-tcejbo  
;%001 :thgieh  
;%001 :htdiw  
;0 :tfel  
;0 :pot  
;etulosba :noitisop  
{ oediVym#

}
;neddih :wolfrevo  
;evitaler :noitisop  
{ oreh#
/* --------------------------------------------------------------------   
.irafaS SOi rus sap ennoitcnof en >oediv< enu rus dexif:noitisop   
.)etulosba:noitisop( oreh# ed rueirétni'l à tse oédiv aL   
---- potksed ,diordnA ,irafaS SOi rus ennoitcnof — dnuorgkcab oédiV ---- */

}
;yarg :roloc-dnuorgkcab  
;otua :nigram  
;%001 :htdiw  
;xelf :yalpsid  
{ oidua.

}
;cilati :elyts-tnof  
;tfel :ngila-txet  
;ffffff# :roloc  
{ esimitpO.



/* potkseD ruop yreuQ aideM  nif */

}
}  
;%001 :htdiw    
{ loc-retoof.  
{ )xp475 :htdiw-xam( aidem@
}
}  
;xp03 :mottob-nigram    
;%05 :htdiw    
{ loc-retoof.  
{ )xp767 :htdiw-xam( aidem@
/*retoof evisnopser*/

}
}  
;%5.1 :nigram    
;%22 :sisab-xelf    
{ meti-ecivres. mottob-ecivres. secivres#  

/* redaeh niF */  
}  
;enon :yalpsid    
{ retfa:a lu tsil-van. redaeh#  
}  
;mer8.1 :ezis-tnof    
{ a il lu tsil-van. redaeh#  
}  
;kcolb-enilni :yalpsid    
{ il lu tsil-van. redaeh#  
}  
;tnerapsnart :roloc-dnuorgkcab    
;tnetnoc-tif :htdiw    
;otua :thgieh    
;kcolb :yalpsid    
;laitini :noitisop    
{ lu tsil-van. redaeh#  
}  
;enon :yalpsid    
{ regrubmah. redaeh#  
/* redaeh */  
{ )xp0021 :htdiw-nim( dna neercs ylno aidem@
/* potkseD ruop yreuQ aideM */

/* telbaT ruop yreuQ aideM niF */
}
/*  tcatnoc niF */  
}  
;xp02 :tfel-gniddap    
;tfel :ngila-txet    
;%001 :htdiw    
{ ofni-tcatnoc. meti-tcatnoc. tcatnoc#  
}  
;niatnoc :tif-tcejbo    
{ gmi noci. meti-tcatnoc. tcatnoc#  
}  
;xp001 :htdiw    
;xp001 :thgieh    
{ noci. meti-tcatnoc. tcatnoc#  
}  
;wor :noitcerid-xelf    
;0 :nigram    
;%03 :htdiw    
{ meti-tcatnoc. tcatnoc#  
}  
;0 :nigram    
;ylneve-ecaps :tnetnoc-yfitsuj    
;wor :noitcerid-xelf    
;xelf :yalpsid    
;%001 :htdiw    
{ smeti-tcatnoc. tcatnoc#  
}  
;%0 :pot-nigram    
;hv02 :htdiw-nim    
;retnec :tnetnoc-yfitsuj    
;retnec :smeti-ngila    
;0 xp001 :gniddap    
;nmuloc :noitcerid-xelf    
{ tcatnoc. tcatnoc#  
/*  tcatnoc */  

/* oreH niF */  
}  
;mer7 :ezis-tnof    
{ 1h oreh#  
/* oreH */  

}  
;mer6 :ezis-tnof    
{ eltit-noitces.1h  
}  
;xp06 xp02 :gniddap    
;mer5.2 :ezis-tnof    
{ atc.  
{ )xp867 :htdiw-nim( dna neercs ylno aidem@
/* telbaT ruop yreuQ aideM */

/* semarfyeK niF */
}
}  
;005 :thgiew-tnof    
;nosmirc :roloc    
{ %001  
{ eman_laever_txet semarfyek@
}
}  
;etihw :roloc    
{ %001  
{ laever_txet semarfyek@
}
}  
;%001 :tfel    
;0 :htdiw    
{ %001  
}  
;0 :tfel    
;%001 :htdiw    
{ %05  
{ xob_laever_txet semarfyek@
}
}  
;)4.1(elacs :mrofsnart    
;0 :yticapo    
{ %001  
}  
;)1(elacs :mrofsnart    
;1 :yticapo    
{ %0  
{ slup_regrubmah semarfyek@
/* semarfyeK */

/* retooF niF */
}
;egral-xx :ezis-tnof  
;ffffff# :roloc-dnuorgkcab  
;nosmirc :roloc  
{ revoh:a sknil-laicos. loc-retoof.
}
;esae s5.0 lla :noitisnart  
;ffffff# :roloc  
;%05 :suidar-redrob  
;xp04 :thgieh-enil  
;retnec :ngila-txet  
;0 xp01 xp01 0 :nigram  
;)2.0 ,552 ,552 ,552(abgr :roloc-dnuorgkcab  
;xp04 :htdiw  
;xp04 :thgieh  
;kcolb-enilni :yalpsid  
{ a sknil-laicos. loc-retoof.
}
;xp8 :tfel-gniddap  
;nosmirc :roloc  
{ revoh:a il lu loc-retoof.
}
;esae s3.0 lla :noitisnart  
;kcolb :yalpsid  
;bbbbbb# :roloc  
;003 :thgiew-tnof  
;enon :noitaroced-txet  
;ffffff# :roloc  
;ezilatipac :mrofsnart-txet  
;xp61 :ezis-tnof  
{ a il lu loc-retoof.
}
;fires-snas ,"snippoP" :ylimaf-tnof  
;xp01 :mottob-nigram  
{ )dlihc-tsal:(ton:il lu loc-retoof.
}
;xp05 :htdiw  
;xob-redrob :gnizis-xob  
;xp2 :thgieh  
;36e19e# :roloc-dnuorgkcab  
;xp01- :mottob  
;0 :tfel  
;etulosba :noitisop  
;"" :tnetnoc  
{ erofeb::4h loc-retoof.
}
;evitaler :noitisop  
;005 :thgiew-tnof  
;xp53 :mottob-nigram  
;ezilatipac :mrofsnart-txet  
;ffffff# :roloc  
;xp81 :ezis-tnof  
{ 4h loc-retoof.
}
;xp51 0 :gniddap  
;%52 :htdiw  
{ loc-retoof.
}
;0 xp07 :gniddap  
;)%001 365584# ,%0 c32392# ,ged06(tneidarg-raenil :egami-dnuorgkcab  
{ retoof.
}
;enon :elyts-tsil  
{ lu
}
;parw :parw-xelf  
;xelf :yalpsid  
{ wor.
}
;otua :nigram  
;xp0711 :htdiw-xam  
{ retoofreniatnoc.
/* retooF tubéD */

/* redilS niF*/

/* redilS tubéD*/

/* noitceS tcatnoc niF*/
}
;005 :thgiew-tnof  
;mer2 :thgieh-enil  
;mer3.1 :ezis-tnof  
{ 2h ofni-tcatnoc. tcatnoc#
}
;xp5 :mottob-nigram  
;005 :thgiew-tnof  
;mer5.2 :ezis-tnof  
{ 1h ofni-tcatnoc. tcatnoc#
}
;xp01 :mottob-nigram  
;otua 0 :nigram  
;xp07 :htdiw  
{ noci. tcatnoc#
}
;c2000000# 0 xp5 xp0 xp0 :wodahs-xob  
{ revoh:meti-tcatnoc. tcatnoc#
}
;wodahs-xob esae s3.0 :noitisnart  
;c2000000# 0 xp81 xp0 xp0 :wodahs-xob  
;nmuloc :noitcerid-xelf  
;retnec :smeti-ngila  
;retnec :tnetnoc-yfitsuj  
;xelf :yalpsid  
;xp03 :nigram  
;xp03 :gniddap  
;xp01 :suidar-redrob  
;retnec :ngila-txet  
;xp02 :gniddap  
;%08 :htdiw  
{ meti-tcatnoc. tcatnoc#
}
;%001 :htdiw  
/* ;xp004 :htdiw-xam */  
{ smeti-tcatnoc. tcatnoc#
}
;%09 :htdiw  
;otua 0 :nigram  
;xp0021 :htdiw-xam  
;nmuloc :noitcerid-xelf  
{ tcatnoc. tcatnoc#
/* noitceS tcatnoc */

/* noitceS soporpa nif */
}
;1- :xedni-z  
;nosmirc dilos xp7 :redrob  
;%89 :htdiw  
;%89 :thgieh  
;xp91 :pot  
;xp33- :tfel  
;etulosba :noitisop  
;"" :tnetnoc  
{ retfa::gmi-tuoba. tfel-loc. tuoba#
}
;etihw dilos xp01 :redrob  
;evitaler :noitisop  
;%001 :htdiw  
;%001 :thgieh  
{ gmi-tuoba. tfel-loc. tuoba#
}
;mer2 :ezis-tnof  
;xp02 xp01 :gniddap  
;xp05 :mottob-nigram  
;etihw :roloc  
{ atc. thgir-loc. tuoba#
}
;ffffff# :roloc  
;xp02 :mottob-nigram  
{ p thgir-loc. tuoba#
}
;ffffff# :roloc  
;xp01 :mottob-nigram  
;mer2.0 :gnicaps-rettel  
;005 :thgiew-tnof  
;mer8.1 :ezis-tnof  
{ 2h thgir-loc. tuoba#
}
;%001 :htdiw  
{ thgir-loc. tuoba#
}
;xp063 :thgieh  
;xp052 :htdiw  
{ tfel-loc. tuoba#
}
;xp02 xp001 :gniddap  
;otua 0 :nigram  
;xp0021 :htdiw-xam  
;tfel :ngila-txet  
;esrever-nmuloc :noitcerid-xelf  
{ tuoba. tuoba#

}
;yalrevo :edom-dnelb-dnuorgkcab  
;revoc :ezis-dnuorgkcab  
;retnec :noitisop-dnuorgkcab  
;dexif :tnemhcatta-dnuorgkcab  
;)gpj.hsalpsnu4/segami/..(lru :egami-dnuorgkcab  
{ cplaw.

}
;nosmirc :roloc  
{ naps 2eltit-noitces.
}
;tfel :ngila-txet  
;mer2.0 :gnicaps-rettel  
;esacreppu :mrofsnart-txet  
;xp01 :mottob-nigram  
;etihw :roloc  
;003 :thgiew-tnof  
;mer4 :ezis-tnof  
{ 2eltit-noitces.

}
;ffffff# :roloc  
{ tcatnoCraP.
/* noitceS soporpA tubéD */

/* noitces stcejorP niF */
}
;)1.1(elacs :mrofsnart  
{ gmi gmi-tcejorp. revoh:meti-tcejorp. stcejorp#
}
;mrofsnart esae s3.0 :noitisnart  
{ gmi gmi-tcejorp. stcejorp#
}
;7.0 :yticapo  
;)%001 365584# ,%0 c32392# ,ged06(tneidarg-raenil :egami-dnuorgkcab  
;%001 :htdiw  
;%001 :thgieh  
;0 :pot  
;0 :tfel  
;etulosba :noitisop  
;"" :tnetnoc  
{ retfa:gmi-tcejorp. stcejorp#
}
;evitaler :noitisop  
;neddih :wolfrevo  
;xp003 :thgieh  
;%05 :sisab-xelf  
{ gmi-tcejorp. stcejorp#
}
;etihw :roloc  
{ p ofni-tcejorp. stcejorp#
}
;xp01 :pot-nigram  
;005 :thgiew-tnof  
;mer8.1 :ezis-tnof  
{ 2h ofni-tcejorp. stcejorp#
}
;005 :thgiew-tnof  
;mer4 :ezis-tnof  
{ 1h ofni-tcejorp. stcejorp#
}
;etihw :roloc  
;)%001 365584# ,%0 c32392# ,ged06(tneidarg-raenil :egami-dnuorgkcab  
;nmuloc :noitcerid-xelf  
;retnec :tnetnoc-yfitsuj  
;trats-xelf :smeti-ngila  
;xelf :yalpsid  
;%001 :thgieh  
;%05 :sisab-xelf  
;xp03 :gniddap  
{ ofni-tcejorp. stcejorp#
}
;xp01 :suidar-redrob  
;neddih :wolfrevo  
;otua xp02 :nigram  
;%08 :htdiw  
;nmuloc :noitcerid-xelf  
;retnec :tnetnoc-yfitsuj  
;retnec :smeti-ngila  
;xelf :yalpsid  
{ meti-tcejorp. stcejorp#
}
;nmuloc :noitcerid-xelf  
;retnec :tnetnoc-yfitsuj  
;retnec :smeti-ngila  
;xelf :yalpsid  
{ stcejorp-lla. stcejorp#
}
;xp05 :mottob-nigram  
{ 1h redaeh-stcejorp. stcejorp#
}
;0 xp001 :gniddap  
;otua 0 :nigram  
;xp0021 :htdiw-xam  
;nmuloc :noitcerid-xelf  
{ stcejorp. stcejorp#
/* noitces stcejorP */

/* noitceS oreH niF */

}
;s5.2 :yaled-noitamina  
{ naps )3(dlihc-htn:1h oreh#
}
;s5.1 :yaled-noitamina  
{ naps )2(dlihc-htn:1h oreh#
}
;s5.0 :yaled-noitamina  
{ naps )1(dlihc-htn:1h oreh#
}
;s5.0 :yaled-noitamina  
;esae s1 xob_laever_txet :noitamina  
;nosmirc :roloc-dnuorgkcab  
;0 :htdiw  
;%001 :thgieh  
;0 :tfel  
;0 :pot  
;etulosba :noitisop  
{ naps 1h oreh#
}
;s3 :yaled-noitamina  
;sdrawrof esae s5.0 eman_laever_txet :noitamina  
{ )3(dlihc-htn:1h oreh#
}
;s2 :yaled-noitamina  
{ )2(dlihc-htn:1h oreh#
}
;s1 :yaled-noitamina  
{ )1(dlihc-htn:1h oreh#
}
;s1 :yaled-noitamina  
;sdrawrof esae s5.0 laever_txet :noitamina  
;tnerapsnart :roloc  
;evitaler :noitisop  
;mer4 :ezis-tnof  
;tnetnoc-tif :htdiw  
;kcolb :yalpsid  
{ 1h oreh#
}
;2 :xedni-z  
;evitaler :noitisop  
;trats-xelf :tnetnoc-yfitsuj  
;xp05 0 :gniddap  
;otua 0 :nigram  
;xp0021 :htdiw-xam  
{ oreh. oreh#
}
;1- :xedni-z  
;7.0 :yticapo  
;kcalb :roloc-dnuorgkcab  
;%001 :htdiw  
;%001 :thgieh  
;0 :pot  
;0 :tfel  
;etulosba :noitisop  
;"" :tnetnoc  
{ retfa::oreh#
}
;hv001 :thgieh-nim  
;retnec pot :noitisop-dnuorgkcab  
;revoc :ezis-dnuorgkcab  
{ oreh#
/* noitceS oreH */

/* noitces redaeH niF */
}
;0 :pot  
{ retfa::rab. evitca.regrubmah. redaeh#
}
;0 :mottob  
{ erofeb::rab. evitca.regrubmah. redaeh#
}
;xp8 :mottob  
{ erofeb::rab. regrubmah. redaeh#
}
;xp8 :pot  
{ retfa::rab. regrubmah. redaeh#
}
;mottob ,pot :ytreporp-noitisnart  
;esae s3.0 :noitisnart  
;etihw :roloc-dnuorgkcab  
;0 :tfel  
;%001 :htdiw  
;%001 :thgieh  
;etulosba :noitisop  
;"" :tnetnoc  
{ erofeb::rab. regrubmah. redaeh#
,retfa::rab. regrubmah. redaeh#
}
;1- :xedni-z  
;etihw :roloc-dnuorgkcab  
;evitaler :noitisop  
;xp03 :htdiw  
;xp2 :thgieh  
{ rab. regrubmah. redaeh#
}
;etinifni esae s1 slup_regrubmah :noitamina  
;etihw dilos xp3 :redrob  
;%05 :suidar-redrob  
;%001 :htdiw  
;%001 :thgieh  
;"" :tnetnoc  
;etulosba :noitisop  
{ retfa:regrubmah. redaeh#
}
;xp02 :thgir-nigram  
;)8.0(elacs :mrofsnart  
;retniop :rosruc  
;001 :xedni-z  
;retnec :tnetnoc-yfitsuj  
;retnec :smeti-ngila  
;xelf :yalpsid  
;evitaler :noitisop  
;%05 :suidar-redrob  
;etihw dilos xp3 :redrob  
;kcolb-enilni :yalpsid  
;xp06 :htdiw  
;xp06 :thgieh  
{ regrubmah. redaeh#
}
;nosmirc :roloc  
{ a revoh:il lu tsil-van. redaeh#
}
;laitini :gnicaps-rettel  
;)1(elacs )%05- ,%05-(etalsnart :mrofsnart  
{ retfa::a revoh:il lu tsil-van. redaeh#
}
;gnicaps-rettel esae s3.0 :noitisnart  
;1- :xedni-z  
;xp05 :gnicaps-rettel  
;mer31 :ezis-tnof  
;)120.0 ,552 ,842 ,042(abgr :roloc  
;)0(elacs )%05- ,%05-(etalsnart :mrofsnart  
;%05 :tfel  
;%05 :pot  
;etulosba :noitisop  
;)retfa-atad(rtta :tnetnoc  
{ retfa::a lu tsil-van. redaeh#
}
;kcolb :yalpsid  
;xp02 :gniddap  
;esacreppu :mrofsnart-txet  
;etihw :roloc  
;enon :noitaroced-txet  
;mer2.0 :gnicaps-rettel  
;005 :thgiew-tnof  
;mer5.2 :ezis-tnof  
{ a lu tsil-van. redaeh#
}
;%0 :tfel  
{ evitca.lu tsil-van. redaeh#
}
;tfel esae s5.0 :noitisnart  
;neddih :x-wolfrevo  
;1 :xedni-z  
;retnec :smeti-ngila  
;retnec :tnetnoc-yfitsuj  
;nmuloc :noitcerid-xelf  
;xelf :yalpsid  
;0 :pot  
;%001 :tfel  
;hv001 :thgieh  
;wv001 :htdiw  
;)03 ,03 ,13(bgr :roloc-dnuorgkcab  
;etulosba :noitisop  
;enon :elyts-tsil  
{ lu tsil-van. redaeh#
}
;xp01 0 :gniddap  
;xp0031 :htdiw-xam  
;%001 :thgieh  
;%001 :htdiw  
;neewteb-ecaps :tnetnoc-yfitsuj  
;retnec :smeti-ngila  
;xelf :yalpsid  
{ rab-van. redaeh#
}
;roloc-dnuorgkcab esae s3.0 :noitisnart  
;)42.0 ,03 ,03 ,13(abgr :roloc-dnuorgkcab  
;hv8 :thgieh-nim  
{ redaeh. redaeh#
}
;otua :thgieh  
;wv001 :htdiw  
;0 :pot  
;0 :tfel  
;0001 :xedni-z  
;dexif :noitisop  
{ redaeh#
/* noitces redaeH */

}
;nosmirc :roloc  
{ naps 1h dnarb.
}
;etihw :roloc  
;esacreppu :mrofsnart-txet  
;mer3 :ezis-tnof  
{ 1h dnarb.
}
;nosmirc :roloc-dnuorgkcab  
;etihw :roloc  
{ revoh:atc.
}
;roloc ,roloc-dnuorgkcab :ytreporp-noitisnart  
;esae s3.0 :noitisnart  
;xp03 :pot-nigram  
;mer1.0 :gnicaps-rettel  
;esacreppu :mrofsnart-txet  
;mer2 :ezis-tnof  
;nosmirc dilos xp2 :redrob  
;tnerapsnart :roloc-dnuorgkcab  
;etihw :roloc  
;xp03 xp01 :gniddap  
;kcolb-enilni :yalpsid  
{ atc.

}
;nosmirc :roloc  
{ naps eltit-noitces.
}
;retnec :ngila-txet  
;mer2.0 :gnicaps-rettel  
;esacreppu :mrofsnart-txet  
;xp01 :mottob-nigram  
;kcalb :roloc  
;003 :thgiew-tnof  
;mer4 :ezis-tnof  
{ eltit-noitces.
}
;mer50.0 :gnicaps-rettel  
;003 :thgiew-tnof  
;mer5.2 :thgieh-enil  
;xp5 :pot-nigram  
;mer4.1 :ezis-tnof  
;kcalb :roloc  
{ p
}
;revoc :tif-tcejbo  
;%001 :htdiw  
;%001 :thgieh  
{ gmi
}
;retnec :tnetnoc-yfitsuj  
;retnec :smeti-ngila  
;xelf :yalpsid  
;%001 :htdiw  
;hv001 :thgieh-nim  
{ reniatnoc.
}
;enon :noitaroced-txet  
{ a
}
;htooms :roivaheb-llorcs  
;fires-snas ,"tarrestnoM" :ylimaf-tnof  
;xp01 :ezis-tnof  
{ lmth
}
;xob-redrob :gnizis-xob  
;0 :nigram  
;0 :gniddap  
{ *
;)"paws=yalpsid&007;006;005;004;003@thgw:snippoP=ylimaf?2ssc/moc.sipaelgoog.stnof//:sptth"(lru tropmi@
;"paws=yalpsid&007 ,004 ,003:tarrestnoM=ylimaf?ssc/moc.sipaelgoog.stnof//:sptth" tropmi@